# Dependencies & build output
site/rendered/
anna
/node_modules
/.pnp
.pnp.js

# Next.js legacy output (if any)
/.next/
/build
/out

# OS & Misc
.DS_Store
*.pem
*.log

# Environment
.env*.local
.vercel
